/*article*/
    article{grid-area: article;
        background-color: rgb(248, 243, 236) ;
        border-radius: 5%;
    }
/*body and main header*/
    body{
        font-family: georgia;
        background-color: rgb(238, 230, 224);
    }
       
    h1{
            background-color:rgb(248, 243, 236) ;
            padding: .5em;
            padding-left: 1em;
            padding-right: 1em;
            text-align: center;
        }

/*main body*/
    .logo{max-width: 60%;
    margin-top: 0em;
    padding: .5em;
    padding-inline-start: 20%;
}
.imgs{max-width: 45%;
    margin-top: 0em;
    padding: .5em;
    float: left;
}
.imgs1{max-width: 45%;
    margin-top: 0em;
    padding: .5em;
    float: right;
}
.imgsbig{
    max-width: 70%;
    padding-left: 20%;
    padding-right: 10%;
}
p{clear: both;}
    header {
        grid-area: header;
        background-color: rgb(238, 230, 224);
        text-align: center;
        color:black;
    }
    .imgsark{
        max-width: 25%;

    }
    .imgs2{
        max-width: 30%;
        display: inline;
        padding: .5em;
        margin-left: 5em;
    }
	main {
            grid-area: main;
            padding: 5em;
            font: 1.1em georgia;
            padding-bottom: 3em;
            color:black;
            text-align: left;
            background-color: rgb(248, 243, 236);
            border-radius:10% ;
            max-width: fit-content;
            margin-inline-start: 5%;
            padding-bottom: 1em;
            padding-top: 1em;
        }
        table{margin-left: 20%;}
        th, td {
            border: 1px solid black;
            border-radius: 10px;
            padding: .5em;
            text-align: center;
          }
          .logosmall{
              max-width: 15%;
              padding: 1em;
              margin-inline-start: 40%;
          }
    /*aside*/
    h3{
       text-align: center;
    }
    aside {
        padding: 5em;
        font: 1.1em georgia;
        padding-bottom: 3em;
        color:black;
        text-align: left;
        background-color: rgb(248, 243, 236);
        border-radius:10% ;
        max-width: fit-content;
        grid-area: aside;
        max-width: fit-content;
        margin-inline-start: 0%;
        }
    
		
		
        .headertext{
            padding-left: .5em;
            font-size: 1.5em;
            color:black;
            float: left;
            clear: both;
            display: inline;
            font-size: 1.5em;
            max-width: 90%;
        }
        
      /*div + button*/
      .sun .moon .asideimg		{ 
        max-width: 50%;
        float: left; /* YOU CAN FLOAT AN ELEMENT WITHIN A GRID AREA */
        margin: 1em;
        padding-top: 0%;
   
    }
       /* .moon{
            max-width: 10%;
            margin-inline-start: 45%;
            padding-bottom: 1em;
            
        }
        .sun{
            max-width: 15%;
            margin-inline-start: 42%;
            padding-bottom: 1em;
        }*/
        .headeraside2{
            font-size: 1.2em;
            padding-left: .3em;
            color:black;
            text-align: center;
        }
       /* .button1{
            margin-left: 32%;
            margin-bottom: 1em;
        }
        .button2{
            margin-left: 32%;
            margin-bottom: 1em;
        }
        .aside2{
            grid-area:div;
            background-color: rgb(255, 251, 246);
            color:black;
            border-radius: 10%;
            max-width: 15em;
            padding-bottom: 0em;
            margin-left: 8em;
        }
          
       */
       /*affects all pages*/
        .grid-container {
            display: grid;
            grid-template-areas:
            
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main main main '
            'main main main main main main '
            'aside aside aside aside aside aside'
            'footer footer footer footer footer footer';


                /*'header header header header header aside'
                'nav nav main main main aside'
                'nav nav main main main div'
                'nav nav main main main div'
				'footer footer footer footer footer footer';*/
            grid-gap: .5em;
            padding: .5em;
			
			max-width: 75%; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
			margin: auto;
            
        }
        
       /*menu*/

       .icons{
        max-width:5% ;
        display: inline;
        margin: auto;
        float: left;
        margin-right: 0em;
        padding-bottom: 1em;
        position:static;
        padding-left: 1em;

    }
    nav {
       grid-area: nav;
       background-color: rgb(255, 251, 246);
       color:black;
       max-height: fit-content;
       border-radius:8%;
   }
  .menu{
     color:black;
     padding-left: 45%;
     background-color:rgb(255, 251, 246) ;
     
   }
   ul li {
       list-style-type: none;
      
   }
   nav ul{
       text-align:center ;
   }
   nav li{
       display: inline;
       font-weight: bold;
       padding: 2em;
       position:static;
   }
   a{
       color: rgb(40, 40, 134);
   }
        /*footer*/
       footer {
        grid-area: footer;
        background-color: rgb(255, 251, 246);
        border-radius: 2%;
        padding: 1em;
        font-size: .8em;
        color:black;
        padding-left: 45%;
    }

        /*FIRST BREAK POINT === tablet */
        @media only screen and (max-width : 900px) {
            /*article*/
    article{grid-area: article;
        background-color: rgb(248, 243, 236) ;
        border-radius: 5%;
    }
/*body and main header*/
    body{
        font-family: georgia;
        background-color: rgb(238, 230, 224);
    }
       
    h1{
            background-color:rgb(248, 243, 236) ;
            padding: .5em;
            padding-left: 1em;
            padding-right: 1em;
            text-align: center;
        }

/*main body*/
    .logo{max-width: 60%;
    margin-top: 0em;
    padding: .5em;
    padding-inline-start: 20%;
}
.imgs{max-width: 90%;
    margin-top: 0em;
    padding: .5em;
    float: none;
}
.imgs1{max-width: 60%;
    margin-top: 0em;
    padding: .5em;
    float: none;
}
.imgsbig{
    max-width: 90%;
    padding-left: 10%;
    padding-right: 10%;
}
p{clear: both;}
    header {
        grid-area: header;
        background-color: rgb(238, 230, 224);
        text-align: center;
        color:black;
    }
    .imgsark{
        max-width: 25%;

    }
    .imgs2{
        max-width: 40%;
        display: inline;
        padding: .5em;
        margin-left: 0em;
    }
	main {
            grid-area: main;
            padding: 2em;
            font: 1.1em georgia;
            padding-bottom: 3em;
            color:black;
            text-align: left;
            background-color: rgb(248, 243, 236);
            border-radius:10% ;
            max-width: fit-content;
            margin-inline-start: 5%;
            padding-bottom: 1em;
            padding-top: 1em;
        }
        table{margin-left: 0%;}
        th, td {
            border: 1px solid black;
            border-radius: 10px;
            padding: .5em;
            text-align: center;
          }
          .logosmall{
              max-width: 15%;
              padding: 1em;
              margin-inline-start: 40%;
          }
    /*aside*/
    h3{
       text-align: center;
    }
    aside {
        padding: 2em;
        font: 1.1em georgia;
        padding-bottom: 3em;
        color:black;
        text-align: left;
        background-color: rgb(248, 243, 236);
        border-radius:10% ;
        max-width: fit-content;
        grid-area: aside;
        max-width: fit-content;
        margin-inline-start: 0%;
        }


       /*affects all pages*/
        .grid-container {
            display: grid;
            grid-template-areas:
            
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main main main '
            'main main main main main main '
            'aside aside aside aside aside aside'
            'footer footer footer footer footer footer';

            grid-gap: .5em;
            padding: .5em;
			
			max-width: 75%; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
			margin: auto;
            
        }
        
     /*menu*/
         
     ul li {
        display: inline-block;
    }


.icons{
    max-width:15% ;
    display: inline;
    float: left;
    margin-right: 0em;
    padding-bottom: 1em;
    position:static;
}
nav {
   grid-area: nav;
   background-color: rgb(255, 251, 246);
   color:black;
   max-height: fit-content;
   border-radius:8%;
}
.menu{
 color:black;
 padding-left: 45%;
 background-color:rgb(255, 251, 246) ;
 
}
ul li {
   list-style-type: none;
  
}
nav ul{
   text-align:center ;
}
nav li{
   display: block;
   font-weight: bold;
   padding: .2em;
   position:static;
   text-align: center;
}
       
        }

        /*SECOND BREAK POINT === mobile */
        @media only screen and (max-width : 600px) {
          /*article*/
          article{grid-area: article;
            background-color: rgb(248, 243, 236) ;
            border-radius: 5%;
        }
    /*body and main header*/
        body{
            font-family: georgia;
            background-color: rgb(238, 230, 224);
        }
           
        h1{
                background-color:rgb(248, 243, 236) ;
                padding: .5em;
                padding-left: 1em;
                padding-right: 1em;
                text-align: center;
            }
    
    /*main body*/
        .logo{max-width: 90%;
        margin-top: 0em;
        padding: .5em;

    }
    .imgs{max-width: 90%;
        margin-top: 0em;
        padding: .5em;
        float: none;
    }
    .imgs1{max-width: 60%;
        margin-top: 0em;
        padding: .5em;
        float: none;
        margin: auto;
    }
    .imgsbig{
        max-width: 90%;
        padding-left: 5%;
        padding-right: 0%;
        
    }
    p{clear: both;}
        header {
            grid-area: header;
            background-color: rgb(238, 230, 224);
            text-align: center;
            color:black;
        }
        .imgsark{
            max-width: 60%;
    
        }
        .imgs2{
            max-width: 90%;
            display: inline;
            padding: .5em;
            margin-left: 0em;
        }
        main {
                grid-area: main;
                padding: 1em;
                font: 1.1em georgia;
                padding-bottom: 3em;
                color:black;
                text-align: left;
                background-color: rgb(248, 243, 236);
                border-radius:10% ;
                max-width: fit-content;
                margin-inline-start: 0%;
                padding-bottom: 1em;
                padding-top: 1em;
            }
        table{margin-left: 0%;}
        th, td {
                border: 1px solid black;
                border-radius: 10px;
                padding: .5em;
                text-align: center;
              }
              .logosmall{
                  max-width: 15%;
                  padding: 1em;
                  margin-inline-start: 40%;
              }
        /*aside*/
        h3{
           text-align: center;
        }
        aside {
            padding: 2em;
            font: 1.1em georgia;
            padding-bottom: 3em;
            color:black;
            text-align: left;
            background-color: rgb(248, 243, 236);
            border-radius:10% ;
            max-width: fit-content;
            grid-area: aside;
            max-width: fit-content;
            margin-inline-start: 0%;
            }
    
    
           /*affects all pages*/
            .grid-container {
                display: grid;
                grid-template-areas:
                
                'nav nav nav nav nav nav'
                'header header header header header header'
                'main main main main main main '
                'main main main main main main '
                'aside aside aside aside aside aside'
                'footer footer footer footer footer footer';
    
                grid-gap: .5em;
                padding: .5em;
                
                max-width: 75%; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
                margin: auto;
                
            }
            
          /*menu*/
         
          ul li {
            display: inline-block;
        }
    
    
    .icons{
        max-width:15% ;
        display: inline;
        float: left;
        margin-right: 0em;
        padding-bottom: 1em;
        position:static;
    }
    nav {
       grid-area: nav;
       background-color: rgb(255, 251, 246);
       color:black;
       max-height: fit-content;
       border-radius:8%;
    }
    .menu{
     color:black;
     padding-left: 45%;
     background-color:rgb(255, 251, 246) ;
     
    }
    ul li {
       list-style-type: none;
      
    }
    nav ul{
       text-align:center ;
    }
    nav li{
       display: block;
       font-weight: bold;
       padding: .2em;
       position:static;
       text-align: center;
    }
        
    footer{
        padding-left: 0%;
        text-align: center
    }
           
            }